---
import { formatDollarAmount } from "@/lib/formatDollarAmount";
import {
  formatListingType,
  formatPaymentFrequency,
  formatPropertyType,
} from "@/lib/propertyTypeFormatter";
import type { PropertyType } from "@/globals/viewmodels";
import { ListingLinks } from "@/globals/navigation/listings/listings";
import type { Flyer } from "@/globals/types/listing";
import { urlFor } from "@/lib/sanityImage";

export interface Props {
  streetAddress: string;
  isPriceNegotiable?: boolean;
  city: string;
  state: string;
  zipCode: string;
  sqFt: number;
  sqFtLand: number;
  sqFtLot: number;
  propertyType: PropertyType;
  price: number;
  rentalPrice: number;
  flyer?: Flyer;
  zillowLink: string;
  virtualTourLink?: string;
  paymentFrequency?: "oneTime" | "dollarPerSqPerYear" | "monthly" | "yearly";
  listingType?: string;
}

const {
  streetAddress,
  city,
  state,
  zipCode,
  sqFt,
  sqFtLand,
  sqFtLot,
  propertyType,
  isPriceNegotiable,
  price,
  rentalPrice,
  flyer,
  zillowLink,
  virtualTourLink,
  paymentFrequency,
  listingType,
} = Astro.props as Props;
---

<div
  class="flex flex-col lg:flex-row gap-8 lg:gap-0 justify-between items-center"
>
  <div class="space-y-4">
    <a href={ListingLinks.relLink}>
      <h6 class="text-gray-600 hover:text-gray-400 text-center lg:text-left">
        Listings /
      </h6>
    </a>

    <div class="text-center lg:text-left">
      <h3>{streetAddress}</h3>
      <h6>
        {city}, {state}
        {zipCode}
      </h6>
    </div>

    <div>
      <div class="flex gap-x-2 text-center lg:text-left">
        <span class="inline-flex items-center gap-2">
          {/* sq ft icon */}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-wwBlack"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 0 1 .67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 1 1-.671-1.34l.041-.022ZM12 9a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
              clip-rule="evenodd"></path>
          </svg>
          {sqFt} sq ft
        </span>

        {sqFtLand && <span>{sqFtLand} land sq ft</span>}
        {sqFtLot && <span>{sqFtLot} acre lot</span>}

        {
          propertyType && (
            <span class="inline-flex items-center gap-2">
              {/* property type icon */}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6 text-wwBlack"
              >
                <path d="M19.006 3.705a.75.75 0 1 0-.512-1.41L6 6.838V3a.75.75 0 0 0-.75-.75h-1.5A.75.75 0 0 0 3 3v4.93l-1.006.365a.75.75 0 0 0 .512 1.41l16.5-6Z" />
                <path
                  fill-rule="evenodd"
                  d="M3.019 11.114 18 5.667v3.421l4.006 1.457a.75.75 0 1 1-.512 1.41l-.494-.18v8.475h.75a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1 0-1.5H3v-9.129l.019-.007ZM18 20.25v-9.566l1.5.546v9.02H18Zm-9-6a.75.75 0 0 0-.75.75v4.5c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75H9Z"
                  clip-rule="evenodd"
                />
              </svg>
              {formatPropertyType(propertyType)}
            </span>
          )
        }
      </div>

      {
        listingType && (
          <div class="my-4 flex gap-4">
            <span class="bg-wwRed p-4 text-white font-semibold block lg:mx-0 mx-auto">
              {formatListingType(listingType)}
            </span>
          </div>
        )
      }
    </div>
  </div>

  <div>
    <div class="space-y-4">
      <h1 class="bg-wwRed p-6 text-white text-right">
        {isPriceNegotiable ? "Negotiable" : formatDollarAmount(price)}
      </h1>

      {
        rentalPrice && rentalPrice > 0 && (
          <div class="flex items-end bg-wwRed p-4 justify-end max-w-min whitespace-nowrap lg:ml-auto mx-auto lg:mr-0">
            <h3 class="text-white text-right">
              {formatDollarAmount(rentalPrice)}
            </h3>
            <span class="text-white text-xl bg-wwRed font-medium">
              {formatPaymentFrequency(paymentFrequency as string)}
            </span>
          </div>
        )
      }
    </div>

    {
      flyer && flyer.url && (
        <a href={flyer.url} target="_blank" rel="noreferrer">
          <div class="btn-secondary max-w-min mt-4 lg:ml-auto mx-auto lg:mr-0">
            <span class="flex items-center gap-2 font-bold whitespace-nowrap">
              Listing Flyer
              {/* ArrowUpRight icon */}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.47 5.47a.75.75 0 0 1 1.06 0L18.53 17.47a.75.75 0 0 1-1.06 1.06L5.47 6.53a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd"
                />
                <path
                  fill-rule="evenodd"
                  d="M9 4.5A.75.75 0 0 1 9.75 3.75H19.5a.75.75 0 0 1 .75.75V14.25a.75.75 0 0 1-1.5 0V6.31L6.53 18.78a.75.75 0 1 1-1.06-1.06L17.69 5.25H9.75A.75.75 0 0 1 9 4.5Z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
          </div>
        </a>
      )
    }

    {
      zillowLink && (
        <a href={zillowLink} target="_blank" rel="noreferrer">
          <div class="btn-secondary max-w-min mt-2">
            <span class="flex items-center gap-2 font-bold whitespace-nowrap">
              Zillow
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.47 5.47a.75.75 0 0 1 1.06 0L18.53 17.47a.75.75 0 0 1-1.06 1.06L5.47 6.53a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd"
                />
                <path
                  fill-rule="evenodd"
                  d="M9 4.5A.75.75 0 0 1 9.75 3.75H19.5a.75.75 0 0 1 .75.75V14.25a.75.75 0 0 1-1.5 0V6.31L6.53 18.78a.75.75 0 1 1-1.06-1.06L17.69 5.25H9.75A.75.75 0 0 1 9 4.5Z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
          </div>
        </a>
      )
    }

    {
      virtualTourLink && (
        <a href={virtualTourLink} target="_blank" rel="noreferrer">
          <div class="btn-secondary max-w-min mt-2">
            <span class="flex items-center gap-2 font-bold whitespace-nowrap">
              Virtual Tour
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.47 5.47a.75.75 0 0 1 1.06 0L18.53 17.47a.75.75 0 0 1-1.06 1.06L5.47 6.53a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd"
                />
                <path
                  fill-rule="evenodd"
                  d="M9 4.5A.75.75 0 0 1 9.75 3.75H19.5a.75.75 0 0 1 .75.75V14.25a.75.75 0 0 1-1.5 0V6.31L6.53 18.78a.75.75 0 1 1-1.06-1.06L17.69 5.25H9.75A.75.75 0 0 1 9 4.5Z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
          </div>
        </a>
      )
    }
  </div>
</div>
