---
import { urlFor } from "@/lib/sanityImage";
import SocialIcon from "../SocialIcon.astro";
import type { TeammatePreview } from "@/globals/types/teammate";

const { doc: teammate, title: titleFromProps } = Astro.props as {
  doc: TeammatePreview;
  title?: string;
  baseHref?: string;
};

const {
  slug,
  title,
  strengths,
  email,
  phoneNumber,
  instagram,
  facebook,
  linkedin,
  profilePic,
  jobTitle,
} = teammate;

const titleToUse = titleFromProps ?? title;
// Normalize socials a bit
const instagramHandle = instagram ? instagram.replace(/^@/, "") : "";
const linkedinUrl =
  linkedin && linkedin.startsWith("http")
    ? linkedin
    : linkedin
      ? `https://www.linkedin.com/in/${linkedin.replace(/^@/, "")}`
      : undefined;
---

<div class="teammate-card">
  <a href={`/team/${slug}`} class="group inline-block">
    <div
      class="bg-gradient-to-b from-gray-50 to-[#949495] w-64 sm:w-72mb-2 shadow-md overflow-hidden"
    >
      {
        profilePic && (
          <img
            src={urlFor(profilePic).url()}
            alt={titleToUse ? `${titleToUse} headshot` : "Team member headshot"}
            class="size-64 sm:size-72 object-contain mx-auto"
            loading="lazy"
          />
        )
      }

      {
        strengths && (
          <p class="bg-wwYellow px-3 py-4 font-bold text-wwBlack flex items-center justify-center gap-2">
            <span class="inline-flex items-center gap-2">
              {strengths === "Residential" ||
              strengths === "Condominium Sales" ? (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-6"
                >
                  <path d="M19.006 3.705a.75.75 0 1 0-.512-1.41L6 6.838V3a.75.75 0 0 0-.75-.75h-1.5A.75.75 0 0 0 3 3v4.93l-1.006.365a.75.75 0 0 0 .512 1.41l16.5-6Z" />
                  <path
                    fill-rule="evenodd"
                    d="M3.019 11.114 18 5.667v3.421l4.006 1.457a.75.75 0 1 1-.512 1.41l-.494-.18v8.475h.75a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1 0-1.5H3v-9.129l.019-.007ZM18 20.25v-9.566l1.5.546v9.02H18Zm-9-6a.75.75 0 0 0-.75.75v4.5c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75H9Z"
                    clip-rule="evenodd"
                  />
                </svg>
              ) : strengths === "Commercial" ? (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-6"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3 2.25a.75.75 0 0 0 0 1.5v16.5h-.75a.75.75 0 0 0 0 1.5H15v-18a.75.75 0 0 0 0-1.5H3ZM6.75 19.5v-2.25a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-.75.75h-3a.75.75 0 0 1-.75-.75ZM6 6.75A.75.75 0 0 1 6.75 6h.75a.75.75 0 0 1 0 1.5h-.75A.75.75 0 0 1 6 6.75ZM6.75 9a.75.75 0 0 0 0 1.5h.75a.75.75 0 0 0 0-1.5h-.75ZM6 12.75a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 0 1.5h-.75a.75.75 0 0 1-.75-.75ZM10.5 6a.75.75 0 0 0 0 1.5h.75a.75.75 0 0 0 0-1.5h-.75Zm-.75 3.75A.75.75 0 0 1 10.5 9h.75a.75.75 0 0 1 0 1.5h-.75a.75.75 0 0 1-.75-.75ZM10.5 12a.75.75 0 0 0 0 1.5h.75a.75.75 0 0 0 0-1.5h-.75ZM16.5 6.75v15h5.25a.75.75 0 0 0 0-1.5H21v-12a.75.75 0 0 0 0-1.5h-4.5Zm1.5 4.5a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Zm.75 2.25a.75.75 0 0 0-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 0 0 .75-.75v-.008a.75.75 0 0 0-.75-.75h-.008ZM18 17.25a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Z"
                    clip-rule="evenodd"
                  />
                </svg>
              ) : strengths === "Marketing" ? (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-6"
                >
                  <path d="M16.881 4.345A23.112 23.112 0 0 1 8.25 6H7.5a5.25 5.25 0 0 0-.88 10.427 21.593 21.593 0 0 0 1.378 3.94c.464 1.004 1.674 1.32 2.582.796l.657-.379c.88-.508 1.165-1.593.772-2.468a17.116 17.116 0 0 1-.628-1.607c1.918.258 3.76.75 5.5 1.446A21.727 21.727 0 0 0 18 11.25c0-2.414-.393-4.735-1.119-6.905ZM18.26 3.74a23.22 23.22 0 0 1 1.24 7.51 23.22 23.22 0 0 1-1.41 7.992.75.75 0 1 0 1.409.516 24.555 24.555 0 0 0 1.415-6.43 2.992 2.992 0 0 0 .836-2.078c0-.807-.319-1.54-.836-2.078a24.65 24.65 0 0 0-1.415-6.43.75.75 0 1 0-1.409.516c.059.16.116.321.17.483Z" />
                </svg>
              ) : null}

              {strengths}
            </span>
          </p>
        )
      }
    </div>

    <div class="inline-flex gap-2 items-center max-w-64 sm:max-w-72 mt-1">
      <h4 class="text-white whitespace-nowrap font-semibold">{titleToUse}</h4>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="hidden sm:block size-6 text-wwYellow"
      >
        <path
          fill-rule="evenodd"
          d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z"
          clip-rule="evenodd"></path>
      </svg>
    </div>

    {jobTitle && <p class="text-white w-64 sm:w-72">{jobTitle}</p>}
  </a>

  <div class="mt-4 flex gap-4">
    {
      email && (
        <SocialIcon
          type="email"
          href={`mailto:${email}`}
          label={email}
          showLabel={false}
          colorScheme="default"
        />
      )
    }

    {
      phoneNumber && (
        <SocialIcon
          type="phone"
          href={`tel:${phoneNumber}`}
          label={phoneNumber}
          showLabel={false}
          colorScheme="default"
        />
      )
    }

    {
      linkedinUrl && (
        <SocialIcon
          type="linkedin"
          href={linkedinUrl}
          label="LinkedIn"
          showLabel={false}
          colorScheme="default"
        />
      )
    }

    {
      instagramHandle && (
        <SocialIcon
          type="instagram"
          href={`https://instagram.com/${instagramHandle}`}
          label={instagram}
          showLabel={false}
          colorScheme="default"
        />
      )
    }

    {
      facebook && (
        <SocialIcon
          type="facebook"
          href={
            facebook.startsWith("http")
              ? facebook
              : `https://facebook.com/${facebook.replace(/^@/, "")}`
          }
          label="Facebook"
          showLabel={false}
          colorScheme="default"
        />
      )
    }
  </div>
</div>
